* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #09C;
    border-top: 70px solid #369;
    margin-bottom: 80px;
}

#top {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    background-color: #369;
    margin-top: -70px;
}

#top h3 {
    line-height: 70px;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 2px;
}

#top a {
    color: #FFF;
    text-decoration: none;
}

#top a:hover {
    color: lightskyblue;
}

h1 {
    text-align: center;
    color: #FFF;
    font-size: 50px;
    padding-top: 70px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

ul {
    width: 1160px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
}

li:nth-child(4n+1) {
    margin-left: 0px;
}

li img {
    display: block;
    border: 10px solid #eee;
    width: 240px;
    height: 135px;
    cursor: pointer;
}

#big {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#big .container {
    position: relative;
    margin: auto;
    width: 80vw;
}

#big img {
    margin-top: 10px;
    width: 100%;
    height: 90vh;
    border: 10px solid #eee;
}

#big .title {
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    background-color: rgb(238, 238, 238, 0.5);
    text-align: center;
    color: #333;
    font-weight: bold;
}

div.hide {
    transition: 0.5s; /*設定動畫的時間，就會產生動畫效果*/
    opacity: 0;
    z-index: -1;
}

div.fadeIn {
    transition: 0.5s; /*設定動畫的時間，就會產生動畫效果*/
    opacity: 1;
    z-index: 2;
}